<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033015307529-6k0j1kc0mq1d85s8vtoc09c27chcjk1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033015307529-6k0j1kc0mq1d85s8vtoc09c27chcjk1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAgK1MEQi-jhoW3Fc5HkEiRtlAhtkQTIrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1033015307529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.adityabodhankar.securingDocuments</string>
	<key>PROJECT_ID</key>
	<string>spit-ps9</string>
	<key>STORAGE_BUCKET</key>
	<string>spit-ps9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033015307529:ios:e548eeb4cedab7f50877d8</string>
</dict>
</plist>